#firstname {
  width: 285px;
  height: 50px;
  left: 425px;
  top: 2181px;

  background: rgba(112, 228, 192, 0.2);
  border-radius: 5px;
}
#lastname {
  width: 285px;
  height: 50px;
  left: 900px;
  top: 2181px;
  background: rgba(112, 228, 192, 0.2);
  border-radius: 5px;
}
.form-content {
  margin-left: 500px;
}
#button-submit {
  width: 590px;
  height: 50px;
  left: 425px;
  top: 2251px;

  background: #08785d;
  border-radius: 5px;
}
